<div style="height:100%">
    <div id="chat-box" style="height:84%; overflow:auto;margin : 0px 10px 0px 10px">
        <div *ngFor="let message of messages">
            <div class="container" [class.mine]="message.from == local.id">
                <p>
                    <span> {{message.message}}
                    </span>
                </p>
                <span class="time-right">{{message.timestamp | date}}</span>
            </div>
        </div>
    </div>
    <br>
    <div style="bottom:0;width: 100%;position:absolute;height:10%" class="col-sm-12">
        <br>

        <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="message" placeholder="Type Your Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="sendMessage()" type="button">Send</button>
            </div>
        </div>

    </div>
</div>