@media screen and (min-width: 570px){
	.a{
		margin: 0 auto;
	}
}
.sbmBtn{
	padding:10px 30px 10px 30px;
	color:white;
	background : linear-gradient( to bottom , #09203f, #1d4a6d);
	border-radius: 30px;
}

.hr1{
	color : #09203f;
	margin-bottom:10px;
}