You can add global styles to this file, and also import other style files
body, html {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: helvetica;
    font-weight: 100;
}


.toast-custom {
    background-color: #09203fb0;
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.toast-title {
    color: #FFFFFF;
}
.loader {
    border: 6px solid #d7e0f3; /* Light grey */
    border-top: 6px solid  #224d86 ; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position : absolute;
    top:48%;
    left:45%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
